* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: lightgray;
}
                    /* intestazione */
header {
    /* height: 100px; */
    background-color: white;
    padding: 10px;
    vertical-align: middle;
}
            /* soluzione per la propietà float */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

header img {
    /* width: 50px; */
    /* margin-top: 30px; */
    vertical-align: middle;
    /* float: left; */
    display: inline-block;
}

.info-logo {
    display: inline-block;
    /* height: 53px; */
    /* float: left; */
    font-size: 2.5em;
    vertical-align: middle;
    /* line-height: 53px; */
}

            /* contenuto principale */

main {
    background-color: white;
    width: 60%;
    height: 500px;;
    margin: 0 auto;
    margin-top: 50px;
}
button {
    margin: 10px 5px;
    padding: 10px;
    /* font-size: 18px; */
    border: 1px solid black;
    border-radius: 10px;
}


        /* posizionamento e stile bottoni */

.buttons {
    margin-left: 50px;
}

hr {
    border-top: 2px solid lightgray;
    /* height: 5px; */
    /* background-color: lightgray; */
}
            /* colori */
.red{
    color: red;
}

.circle{
    display: inline-block;
    border: 1px solid red;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;

}
.green {
    color: green;
    border-color: green;
}


.bold {
    font-weight: bold;
}
.bottone1 {
    color: white;
    background-color: dodgerblue;
    border:  dodgerblue;
    /* font-weight: bold; */
}
.bottone2 {
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    border-color: gray;
}

.container-lists {
    padding: 40px 40px;

}
summary {
    font-size: 1.5em;
}
p {
    line-height: 2em;
}
ul {
    
}