* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: lightgray;
}
                    /* intestazione */
header {
    /* height: 100px; */
    background-color: white;

    padding: 10px;
    /* vertical-align: middle; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

header img {
    /* width: 50px; */
    /* margin-top: 30px; */
    vertical-align: middle;
    float: left;
    display: inline-block;
}

.info-logo {
    display: inline-block;
    /* height: 53px; */
    float: left;
    font-size: 2.5em;
    /* line-height: 53px; */
}
